@using Model
@using Model.DbQueryModel
@model IEnumerable<Model.DbQueryModel.CategoryInfoViewModel>

@{
    ViewBag.Title = "ShowCategoryInfos";
}

<h2>ShowCategoryInfos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanDel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanDel)
            </td>
            <td>
                <a href="@Url.Action("Create", "SupplyCategoryInfo", new SupplyCategoryInfo { CategoryInfoId = item.Id, SupplyInfoId = ViewBag.SupplyInfoId, Time = DateTime.Now })">添加品种</a> |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
